.deck-tray {
  position: fixed;
  right: 0;
  top: 12vh;
  width: 300px;
  height: calc(100vh - 12vh);
  background-color: #011627;
  transform: translateX(300px);
  transition: transform 0.3s ease;
  overflow-y: auto;
  z-index: 99;
}

.deck-tray-btn.open,
.deck-tray.open {
  transform: translateX(0);
}

.commander-art {
  width: 200px;
  border-radius: 10px;
}

.deck-tray-btn {
  position: absolute;
  transform: translateX(300px);
  transition: transform 0.3s ease;
  right: 290px;
  top: 50%;
  z-index: 100;
}
