.deck-tray {
  position: fixed;
  right: 0;
  top: 12vh;
  width: 300px;
  background-color: #011627;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 99;
}

.deck-tray.open {
  transform: translateX(0);
}

.commander-art {
  width: 200px;
  border-radius: 10px;
}

.deck-tray-btn {
  position: absolute;
  left: -40px;
  top: 50%;
}
